<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stdy Bot</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700" type="text/css">
    <link rel="stylesheet" href="static/app.css" type="text/css">
    <meta name="theme-color" content="#111111">
    <style type="text/css">
        body {
            background-color: #111 !important;
            background-size: cover;
        }

        header {
            background-color: transparent !important;
        }
    </style>
</head>
<body>
<style type="text/css">
    div.container1 {
        height: 10em;
        position: relative
    }

    div.container1 p {
        margin: 0;
        background: yellow;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
</style>
<header>
    <div class=container1>
        <p><a href="https://t.me/stdybot" style="color: #000000">S T D Y B O T</a></p>
    </div>
</header>
</body>
</html>
